<div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Our Restaurants
</div>



<div class="container mt-5">
  <% @restaurants.each do |restaurant| %>

    <%= link_to restaurant_path(restaurant), :action => 'go' do %>
      <div class="card-product mt-5">
        <%= image_tag "table-in-vintage-restaurant-6267.jpg" %>
        <div class="card-product-infos d-flex flex-row justify-content-between w-100">
          <div>
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
            <p>Category: <strong><%= restaurant.category %></strong></p>
          </div>
          <div>
            <h2><%= restaurant.name %></h2>
            <!-- <p><%= link_to "Link", restaurant_path(restaurant) %></p> -->
          </div>
        </div>
      </div>
    <% end %>



  <% end %>
</div>


<!-- <div class="container">
  <h1>Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
       <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= restaurant.name %>
            <%= content_tag(:span, "Category: #{restaurant.category}", class: "category")  %>
            <%= link_to 'More', restaurant, class: "button-white-fixed-right"%>
          </div>
      </div>
    <% end %>
  </div>
 -->
